# Third-party libraries
opencv-python==4.11.0.86
deepface==0.0.93
pandas==2.1.4
numpy==1.26.4
matplotlib
psutil
py7zr==0.22.0
ffmpeg-installer==0.1.1
tf-keras
openpyxl

# Standard libraries (for reference only)
os
sys
platform
zipfile
shutil
datetime
time
glob
subprocess
multiprocessing
logging
argparse
warnings
importlib.util